<div class="form__wrapper">
  <form [formGroup]="myForm"
    novalidate
    (submit)="submit()">
    <div class="form-group">


      <app-input-control [parentFormGroup]="myForm"
        label="Имя"
        controlName="user"></app-input-control>
      <div *ngIf="isControlInvalidAndTouched('user')"
        class="valid">Не валидный</div>


      <app-input-control [parentFormGroup]="myForm"
        label="Email"
        controlName="email"></app-input-control>
      <div *ngIf="isControlInvalidAndTouched('email')"
        class="valid">Не валидный</div>


      <button class="accept btn btn-default">
        Отправить
      </button>
      <div>{{name | async}}</div>
    </div>
  </form>
</div>